<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Robot Control Panel</title>

	<link rel='stylesheet' href='/static/css/highlightjs/default.css'>
	<link rel='stylesheet' href='/static/css/index.css'>
</head>

<body>
	<div class="navbar">
		<a href="/">Controller</a>
		<a href="/blockly">Blockly</a>

		<div class="dropdown" style="float: right;">
			<button class="dropbtn">
				<i class="fa fa-cog"></i>
			</button>

			<div class="dropdown-content" style="right:0;">
				<a href="/docs">Documentation</a>
				<a href="/settings">Settings</a>
				<a href="#" id='shutdown'>Shut Down</a>
			</div>
		</div>


		<a href="#" , style="float: right;" id='stop-code' disabled>Stop <i class="fa fa-stop-circle"></i></a>
		<a href="#" , style="float: right;" , id='run-code'>Run <i class="fa fa-play-circle"></i></a>
		<span id='status' style="float:right;">Idle</span>

		<div class="dropdown" style="float: left;">
			<button class="dropbtn">
				Tools
			</button>

			<div class="dropdown-content">
				<span id='tool-clear'>Clear Workspace</span><br>
				<span id='tool-export'>Export</span><br>
				<span id='tool-import'>Import</span><br>
			</div>
		</div>
		<span style='color:grey;' id='save-status'>Saved</span>

	</div>
	<div id='interface'>
		<div id="blocklyDiv" , style="padding-top:0px;"></div>
		<!-- Toolbox Definition XML begins here -->
		<xml id="toolbox" style="display: none">
			<category name="Logic">
				<block type="controls_if"></block>
				<block type="logic_compare"></block>
				<block type="logic_operation"></block>
				<block type="logic_negate"></block>
				<block type="logic_boolean"></block>
			</category>
			<category name="Loops">
				<block type="controls_repeat_ext">
					<value name="TIMES">
						<block type="math_number">
							<field name="NUM">10</field>
						</block>
					</value>
				</block>
				<block type="controls_whileUntil"></block>
			</category>
			<category name="Math">
				<block type="math_number"></block>
				<block type="math_arithmetic"></block>
				<block type="math_single"></block>
			</category>
			<category name="Text">
				<block type="text"></block>
				<block type="text_length"></block>
				<block type="text_print"></block>
				<block type="text_prompt_ext">
					<value name="TEXT">
						<block type="text"></block>
					</value>
				</block>
			</category>
			<category name="Time">
				<block type="time_sleep">
					<value name="TIME">
						<block type="math_number">
							<field name="NUM">1</field>
						</block>
					</value>
				</block>
			</category>
			<category name="Robot">
				<block type="robot_get_line"></block>
				<block type="robot_get_distance"></block>
				<block type="robot_drive">
					<value name="DIRECTION">
						FWD
					</value>
				</block>
				<block type="robot_drive_time">
					<value name="DIRECTION">
						FWD
					</value>
					<value name="DURATION">
						<block type="math_number">
							<field name="NUM">1</field>
						</block>
					</value>
				</block>
				<block type="robot_turn">
					<value name="DIRECTION">
						RIGHT
					</value>
				</block>
				<block type="robot_turn_time">
					<value name="DIRECTION">
						RIGHT
					</value>
					<value name="DURATION">
						<block type="math_number">
							<field name="NUM">1</field>
						</block>
					</value>
				</block>
				<block type="robot_stop"></block>
				<block type="robot_motor_power">
					<value name="POWER">
						<block type="math_number">
							<field name="NUM">100</field>
						</block>
					</value>
				</block>
				<block type="robot_set_led"></block>
			</category>
			<category name="Robot (Advanced)">
				<block type="robot_set_motor">
					<value name="POWER">
						<block type="math_number">
							<field name="NUM">0</field>
						</block>
					</value>
				</block>
				<block type="robot_gpio_output"></block>
				<block type="robot_gpio_input"></block>
			</category>
			<category name="Variables" custom="VARIABLE"></category>
			<category name="Functions" custom="PROCEDURE"></category>
		</xml>

		<pre id="code-preview" class="python">
		</pre>
	</div>

	<!-- Load main blockly scripts -->
	<script src="/static/js/blockly/blockly_compressed.js"></script>
	<script src="/static/js/blockly/blocks_compressed.js"></script>
	<script src="/static/js/blockly/python_compressed.js"></script>
	<script src="/static/js/blockly/msg/js/en.js"></script>
	<script src="/static/js/lib/jquery.min.js"></script>
	<script src="/static/js/robot_blocks.js"></script>
	<script src="/static/js/lib/highlight.pack.js"></script>
	<script src="/static/js/blocklyEditor.js"></script>
	<script src="/static/js/shutdownhelper.js"></script>

</body>

</html>