main {
  height: auto;
}

header {
  background-color: green;
  width: 100%;
}

h1 {
  margin: 8px;
  color: #fff;
  font-size: 1.8em;
  display: inline;
}

.blockly-editor {
  position: absolute;
  top: 64px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}
